<div class="container theme-showcase">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-login">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-6">
            <%= link_to "Login", user_session_path %>
          </div>
          <div class="col-xs-6">
            <%= link_to "Cadastrar", signup_path %>
          </div>
        </div>
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <h1></h1>

          <div class="form-group">
            <div><%= f.label :email %><br />
             <%= f.email_field :email, :class => 'form-control', :placeholder => 'E-mail', :autofocus => true %></div>
          </div>

          <div class="form-group">
            <div><%= f.label :password %><br />
              <%= f.password_field :password, :class => 'form-control', :placeholder => 'Senha' %></div>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
          <% end -%>

          <div><%= f.submit "Entrar", :class => 'form-control btn btn-register' %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
